<%-include("partials/header.ejs")-%>
<div class="row">
  <div class="col-lg-12 col-sm-12">
<h1>Compose</h1>

<form action="/compose" method="POST">

<div class="form-group">
    <label for="enterTitle">Title</label>
    <input type="type" class="form-control" id="enterTitle" name="title" placeholder="Title" autocomplete="off">
    <small id="emailHelp" class="form-text text-muted">Write a title for your blog</small>
  </div>
  <label for="contentMain">Content</label> 
  <textarea type="text" name="textAr" id="contentMain" rows="5" cols="160"  padding="3%" placeholder="Type your content over here" wrap="soft" ></textarea>
  <small id="emailHelp" class="form-text text-muted">Write the content for your blog</small> <br>
  <button class="btn btn-primary " type="submit" style="border-top-right-radius:50% ; border-bottom-left-radius:50% ;
   border-top-left-radius:10% ;border-bottom-right-radius:10%; margin-top:1%; ">publish</button>
</form>
  </div>
</div>
<%-include("partials/footer.ejs")-%>
<style>
  @media (max-width:900px){ 
    #contentMain{ 
      width:30%;
    }
  }
</style>